<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <body>
    <a href="#">SIGN IN / REGISTER</a>
    <header>
      {% block header %}{% endblock %}
    </header>
    <nav>
      <hr />
      <ul>
        <li>Home</li>
        <li>New</li>
        <li>Books</li>
        <li>About Us</li>
        <li>SEARCH_BAR</li>
        <li>Basket</li>
      </ul>
      <hr />
    </nav>
    
    {% block content %}
      <!-- HERE EMPTY -->
    {% endblock %}
	<!-- <script src="index.js"></script> -->
  </body>
</html>